{{!-- {{#each this}}
              <div class="date-day">{{daily.dt}}</div> 
              <div class="date-month-time">
                <p class="date-month">{{month}}</p>
                <p class="date-time">{{time}}</p>
              </div>
              <div class="date-sun">
                <div class="date-sunrise">
                  <img
                    class="date-sunrise-icon"
                    src="#" 
                    alt="Восход солнца"
                  />
                  <p class="date-sunrise-time">{{daily.sunrise}}</p>
                </div>
                <div class="date-sunset">
                  <img
                    class="date-sunset-icon"
                    src="#"
                    alt="Закат солнца"
                  />
                  <p class="date-sunset-time">{{daily.sunset}}</p>
                </div>
                {{/each}} --}}