          <div class="date">
          {{#each this}}
              <div class="date-day">{{day}}</div>
              <div class="date-month-time">
                <p class="date-month">{{month}}</p>
                <p class="date-time">{{time}}</p>
              </div>
              <div class="date-sun">
                <div class="date-sunrise">
                  <img
                    class="date-sunrise-icon"
                    src="#" 
                    alt="Восход солнца"
                  />
                  <p class="date-sunrise-time">{{surise-time}}</p>
                </div>
                <div class="date-sunset">
                  <img
                    class="date-sunset-icon"
                    src="#"
                    alt="Закат солнца"
                  />
                  <p class="date-sunset-time">{{sunset-time}}</p>
                </div>
                {{/each}}
            </div>
