<h2 class='five-days-weather-title'>{{name}}, {{country}}</h2>
<ul class='five-days-weather-list'>
  <li class='five-days-weather-item'>
    <ul class='five-days-weather-more-list'>
      <li class='five-days-weather-more-item'>Sunday</li>
      <li class='five-days-weather-more-item'>09 Feb</li>
      <li class='five-days-weather-more-item'>
        <svg>
          <use href=''></use>
        </svg>
      </li>
      <li class='five-days-weather-more-item'>
        <ul class='nim-max-temperature'>
          <li class='min-temperature'>
            <p class='min-temperature-item'>min</p>
            {{temp_min}}
          </li>
          <li class='max-temperature'>
            <p class='max-temperature-item'>max</p>
            {{temp_max}}
          </li>
        </ul>
      </li>
      <li class='five-days-weather-more-item'><a class='show-more-info'>more info</a></li>
    </ul>
  </li>
  <li class='five-days-weather-item'>
    <ul class='five-days-weather-more-list'>
      <li class='five-days-weather-more-item'>Sunday</li>
      <li class='five-days-weather-more-item'>09 Feb</li>
      <li class='five-days-weather-more-item'>
        <svg>
          <use href=''></use>
        </svg>
      </li>
      <li class='five-days-weather-more-item'>
        <ul class='nim-max-temperature'>
          <li class='min-temperature'>
            <p class='min-temperature-item'>min</p>
            {{temp_min}}
          </li>
          <li class='max-temperature'>
            <p class='max-temperature-item'>max</p>
            {{temp_max}}
          </li>
        </ul>
      </li>
      <li class='five-days-weather-more-item'><a class='show-more-info'>more info</a></li>
    </ul>
  </li>
  <li class='five-days-weather-item'>
    <ul class='five-days-weather-more-list'>
      <li class='five-days-weather-more-item'>Sunday</li>
      <li class='five-days-weather-more-item'>09 Feb</li>
      <li class='five-days-weather-more-item'>
        <svg>
          <use href=''></use>
        </svg>
      </li>
      <li class='five-days-weather-more-item'>
        <ul class='nim-max-temperature'>
          <li class='min-temperature'>
            <p class='min-temperature-item'>min</p>
            {{temp_min}}
          </li>
          <li class='max-temperature'>
            <p class='max-temperature-item'>max</p>
            {{temp_max}}
          </li>
        </ul>
      </li>
      <li class='five-days-weather-more-item'><a class='show-more-info'>more info</a></li>
    </ul>
  </li>
  <li class='five-days-weather-item'>
    <ul class='five-days-weather-more-list'>
      <li class='five-days-weather-more-item'>Sunday</li>
      <li class='five-days-weather-more-item'>09 Feb</li>
      <li class='five-days-weather-more-item'>
        <svg>
          <use href=''></use>
        </svg>
      </li>
      <li class='five-days-weather-more-item'>
        <ul class='nim-max-temperature'>
          <li class='min-temperature'>
            <p class='min-temperature-item'>min</p>
            {{temp_min}}
          </li>
          <li class='max-temperature'>
            <p class='max-temperature-item'>max</p>
            {{temp_max}}
          </li>
        </ul>
      </li>
      <li class='five-days-weather-more-item'><a class='show-more-info'>more info</a></li>
    </ul>
  </li>
  <li class='five-days-weather-item'>
    <ul class='five-days-weather-more-list'>
      <li class='five-days-weather-more-item'>Sunday</li>
      <li class='five-days-weather-more-item'>09 Feb</li>
      <li class='five-days-weather-more-item'>
        <svg>
          <use href=''></use>
        </svg>
      </li>
      <li class='five-days-weather-more-item'>
        <ul class='nim-max-temperature'>
          <li class='min-temperature'>
            <p class='min-temperature-item'>min</p>
            {{temp_min}}
          </li>
          <li class='max-temperature'>
            <p class='max-temperature-item'>max</p>
            {{temp_max}}
          </li>
        </ul>
      </li>
      <li class='five-days-weather-more-item'><a class='show-more-info'>more info</a></li>
    </ul>
  </li>
</ul>
<ul class='arrow'>
  <li class='arrow-item'>
    <img src='#' alt='СтрелкаВлево' />
  </li>
  <li class='arrow-item'>
    <img src='#' alt='СтрелкаВправо' />
  </li>
</ul>

<ul class='show-chart-list'>
  <li class='show-chart-item'>
    <a class='show-chart-link'>Show Chart</a>
  </li>
  <li class='show-chart-item'>
    <a class='arroy-down'><img src='../images/arrowDown.png' alt='СтрелкаВниз' /></a>
  </li>
</ul>