{{#each weatherParams}}

    <li class="more-info" data-date=''>
        <p>{{day}}</p> <-- пример -->
    <span class="more-info-time">{{date}}</span>
    <img  class="more-info-temp-icon" src="{{icon}}" alt="{{description}}" >
    <span class="more-info-temp">{{temp}} &#176;</span>
    <ul class="more-info-data">

        <li class="more-info-pressure">{{pressure}} mm</li>
        <li class="more-info-humidity">{{humidity}}%</li>
        <li class="more-info-wind">{{wind.speed}} m/s</li>

    </ul>
</li>
{{/each}}



