<img src='{{icon}}' alt='' class='picture' />
<p class='city-title'>{{name}}, {{sys.country}}</p>
<ul class='temperature-list'>
  <li class='temperature-item-one'>{{main.temp}}</li>
  <li class='temperature-item'>
    <ul class='nim-max-temperature'>
      <li class='min-temperature'>
        <p class='min-temperature-item'>min</p>
        <p class='min-temperature-item2'>{{main.temp_min}}</p>
      </li>
      <li class='max-temperature'>
        <p class='max-temperature-item'>max</p>
        <p class='max-temperature-item2'>{{main.temp_max}}</p>
      </li>
    </ul>
  </li>
</ul>