<!-- пример: -->
{{!-- <p>
    Данные из hbs
</p>

<p>
    {{name}}
</p>

<p>
    {{weather.icon}}
</p> --}}

<img src='{{this}}'></img>
<img src=http://openweathermap.org/img/wn/{{icon}}@2x.png alt={{desc}} class="today__wether-img" width="35">